## Observations and Insights

In [10]:
# Dependencies and Setup
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st

# Study data files
mouse_metadata_path = "Resources/Mouse_metadata.csv"
study_results_path = "Resources/Study_results.csv"

# Read the mouse data and the study results
mouse_metadata = pd.read_csv(mouse_metadata_path)
study_results = pd.read_csv(study_results_path)

In [11]:
# RAW DATA - mouse_metadata
mouse_metadata

    Mouse ID Drug Regimen     Sex  Age_months  Weight (g)
0       k403     Ramicane    Male          21          16
1       s185    Capomulin  Female           3          17
2       x401    Capomulin  Female          16          15
3       m601    Capomulin    Male          22          17
4       g791     Ramicane    Male          11          16
..       ...          ...     ...         ...         ...
244     z314     Stelasyn  Female          21          28
245     z435     Propriva  Female          12          26
246     z581    Infubinol  Female          24          25
247     z795     Naftisol  Female          13          29
248     z969     Naftisol    Male           9          30

[249 rows x 5 columns]

In [12]:
# RAW DATA - study_results
study_results

     Mouse ID  Timepoint  Tumor Volume (mm3)  Metastatic Sites
0        b128          0           45.000000                 0
1        f932          0           45.000000                 0
2        g107          0           45.000000                 0
3        a457          0           45.000000                 0
4        c819          0           45.000000                 0
...       ...        ...                 ...               ...
1888     r944         45           41.581521                 2
1889     u364         45           31.023923                 3
1890     p438         45           61.433892                 1
1891     x773         45           58.634971                 4
1892     b879         45           72.555239                 2

[1893 rows x 4 columns]

In [13]:
# Combine the data into a single dataset and display the data table for preview
mice_data = pd.merge(mouse_metadata, study_results, how="left", on=["Mouse ID", "Mouse ID"])
mice_data

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1
...,...,...,...,...,...,...,...,...
1888,z969,Naftisol,Male,9,30,25,63.145652,2
1889,z969,Naftisol,Male,9,30,30,65.841013,3
1890,z969,Naftisol,Male,9,30,35,69.176246,4
1891,z969,Naftisol,Male,9,30,40,70.314904,4
1892,z969,Naftisol,Male,9,30,45,73.867845,4

In [19]:
# Change Mouse ID to Mouse_ID
renamed_mice = mice_data.rename(columns={"Mouse ID":"Mouse_ID"})
renamed_mice

,Mouse_ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1
...,...,...,...,...,...,...,...,...
1888,z969,Naftisol,Male,9,30,25,63.145652,2
1889,z969,Naftisol,Male,9,30,30,65.841013,3
1890,z969,Naftisol,Male,9,30,35,69.176246,4
1891,z969,Naftisol,Male,9,30,40,70.314904,4
1892,z969,Naftisol,Male,9,30,45,73.867845,4

In [20]:
# Checking the number of mice.
total_mice = renamed_mice.Mouse_ID.nunique()
total_mice

249

In [25]:
# Getting the duplicate mice by ID number that shows up for Mouse ID and Timepoint. 
final_mice = renamed_mice.drop_duplicates()

In [26]:
# Create a clean DataFrame by dropping the duplicate mouse by its ID.
final_mice

,Mouse_ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1
...,...,...,...,...,...,...,...,...
1888,z969,Naftisol,Male,9,30,25,63.145652,2
1889,z969,Naftisol,Male,9,30,30,65.841013,3
1890,z969,Naftisol,Male,9,30,35,69.176246,4
1891,z969,Naftisol,Male,9,30,40,70.314904,4
1892,z969,Naftisol,Male,9,30,45,73.867845,4

In [27]:
# Checking the number of mice in the clean DataFrame.
total_mice = final_mice.Mouse_ID.nunique()
total_mice

249

## Summary Statistics

In [32]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen

# Use groupby and summary statistical methods to calculate the following properties of each drug regimen: 
# mean, median, variance, standard deviation, and SEM of the tumor volume. 
# Assemble the resulting series into a single summary dataframe.

grouped_drug = final_mice.groupby(['Drug Regimen'])
print(grouped_drug)
grouped_drug.count().head(10)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x7ff3f854b6a0>

,Mouse_ID,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
Drug Regimen,,,,,,,
Capomulin,230,230,230,230,230,230,230
Ceftamin,178,178,178,178,178,178,178
Infubinol,178,178,178,178,178,178,178
Ketapril,188,188,188,188,188,188,188
Naftisol,186,186,186,186,186,186,186
Placebo,181,181,181,181,181,181,181
Propriva,160,160,160,160,160,160,160
Ramicane,228,228,228,228,228,228,228
Stelasyn,181,181,181,181,181,181,181
Zoniferol,182,182,182,182,182,182,182

In [ ]:
tumor = grouped_drug['Tumor Volume (mm3)']
mean_numpy = np.mean(tumor)
mean_numpy

In [ ]:
median_numpy = np.median(tumor)
median_numpy

In [ ]:
var_numpy = np.var(tumor,ddof = 0)
var_numpy

In [ ]:
sd_numpy = np.std(tumor,ddof = 0)
sd_numpy

In [39]:
sample = final_mice.sample(30)
sample

,Mouse_ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
953,i635,Propriva,Male,21,26,0,45.000000,0
101,u364,Capomulin,Male,18,17,30,35.978334,2
757,d474,Ketapril,Male,18,27,5,45.918352,0
787,e291,Naftisol,Female,14,29,10,48.529741,1
1143,l725,Naftisol,Female,8,26,0,45.000000,0
1273,o331,Ketapril,Male,24,30,25,61.102306,1
692,c580,Ketapril,Male,22,25,10,47.570174,1
1319,o926,Zoniferol,Male,15,29,15,48.254248,1
923,h246,Ketapril,Male,13,30,10,51.368862,1
621,b879,Stelasyn,Female,4,26,15,51.618387,1
1890,z969,Naftisol,Male,9,30,35,69.176246,4
1491,s141,Propriva,Male,8,25,25,53.804370,1
856,f993,Naftisol,Male,21,28,20,52.079510,1
68,m546,Ramicane,Male,18,16,15,39.897435,0
375,l509,Capomulin,Male,17,21,20,48.070452,2
423,a444,Ramicane,Female,10,25,10,44.512560,0
145,c758,Ramicane,Male,9,17,0,45.000000,0
70,m546,Ramicane,Male,18,16,25,37.444445,0
1779,x773,Placebo,Female,21,30,5,45.850831,1
853,f993,Naftisol,Male,21,28,5,46.395760,0
253,i334,Ramicane,Female,8,20,40,40.442370,2
1877,z795,Naftisol,Female,13,29,20,53.280657,1
407,u196,Ramicane,Male,18,25,30,47.622816,2
1081,k862,Stelasyn,Female,13,25,20,57.057848,1
1588,u327,Ketapril,Male,17,25,20,53.189879,0
1767,x581,Ceftamin,Female,19,28,15,49.746427,2
1164,m133,Naftisol,Female,2,26,0,45.000000,0
1095,k894,Zoniferol,Female,13,29,40,58.647056,4
656,c282,Placebo,Male,12,27,40,65.021799,2
1653,v991,Propriva,Female,10,30,20,57.740695,2

In [8]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen

# Using the aggregation method, produce the same summary statistics in a single line

## Bar and Pie Charts

In [9]:
# Generate a bar plot showing the total number of measurements taken on each drug regimen using pandas.

In [10]:
# Generate a bar plot showing the total number of measurements taken on each drug regimen using pyplot.

In [11]:
# Generate a pie plot showing the distribution of female versus male mice using pandas

In [12]:
# Generate a pie plot showing the distribution of female versus male mice using pyplot

## Quartiles, Outliers and Boxplots

In [13]:
# Calculate the final tumor volume of each mouse across four of the treatment regimens:  
# Capomulin, Ramicane, Infubinol, and Ceftamin

# Start by getting the last (greatest) timepoint for each mouse


# Merge this group df with the original dataframe to get the tumor volume at the last timepoint

In [14]:
# Put treatments into a list for for loop (and later for plot labels)


# Create empty list to fill with tumor vol data (for plotting)


# Calculate the IQR and quantitatively determine if there are any potential outliers. 

    
    # Locate the rows which contain mice on each drug and get the tumor volumes
    
    
    # add subset 
    
    
    # Determine outliers using upper and lower bounds

In [15]:
# Generate a box plot of the final tumor volume of each mouse across four regimens of interest

## Line and Scatter Plots

In [16]:
# Generate a line plot of tumor volume vs. time point for a mouse treated with Capomulin

In [17]:
# Generate a scatter plot of average tumor volume vs. mouse weight for the Capomulin regimen

## Correlation and Regression

In [18]:
# Calculate the correlation coefficient and linear regression model 
# for mouse weight and average tumor volume for the Capomulin regimen